.brands,.category,.colors{
    list-style: none;
    color: rgb(148, 145, 145);
}
input{
    padding: 0px 17px;
}
.SideNavItems{
    width: 20%;
    padding: 30px;
    margin: 0px 20px;
}
.SideNavItems>div{
    margin: 20px 0px;
    border-bottom: 1px solid rgb(198, 198, 198);
    padding: 10px;
};